{% include 'base.html' %}

{% block content %}

<div class="container">
    <h3>
        <a href="{% url 'tambah-link' %}">Tambah Link</a>
    </h3>
    <div class="row">
    {% for save in saver %} 
    <div class="card card-succes border border-primary" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{save.judul}}</h5>
          <p class="card-text">{{save.kategori_id}}</p><br>
          <p class="card-text">Diupdate {{save.tanggal}}</p>
          <a href="{{save.link}}" class="btn btn-primary">Tonton</a>
        </div>
      </div>
      {% endfor %}
</div>
</div>

{% endblock %}