{% include 'base.html' %}

{% block content %}

<div class="container">
    <table class="table table-bordered table-striped">
        <div class="table-responsive">
            <thead>
                <tr>
                    <th>JUDUL</th>
                    <th>TANGGAL EDIT</th>
                    <th>KATEGORI</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for link in saver %}
                <tr>
                    <td><a href="{{link.link}}">{{link.judul}}</a></td>
                    <td>{{link.tanggal}}</td>
                    <td>{{link.kategori_id}}</td>
                    <td><a href="{% url 'edit-link' link.id %} " class="btn btn-primary">Ubah</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </div>
    </table>
</div>

{% endblock %}